header {
    background-color: #5A5207;
    padding: 20px;
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    text-transform: uppercase;
    color: #960B06;
    text-shadow: -2px 2px #dddd0a;
}

section {
    text-align: center;
    margin:50px;
}

section img {
    margin: 50px auto;
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

section span {
    border: 3px solid #9a9237;
    padding: 10px 20px;
    color: #026414;
    font-weight: bolder;
    font-family:sans-serif;
    letter-spacing: 1.5px;
}

section .btn{
    margin:10px;
    padding:15px 20px;
    width:40%;
    font-size: 18px;
    border:none;
    cursor:pointer;
}
section .btn-watch{
    background-color:#90423f;
    color:#fff;
}

section .btn-watch:hover{
    box-shadow: 0 0 8px 5px #a98383;
}

section .btn-later{
    border:2px solid #90423f;
    color: #000;
}

section .btn-later:hover{
    border:2px solid #285c2a;
    box-shadow: 0 0 5px 2px #7f7f7f;


}

footer{
    background-color: #5A5207;
    padding:30px;
    text-align: center;
    
}

footer a{
    margin-right: 25px;
    color:#fff;
    text-decoration: dashed;
    /* border-bottom: 1px dashed #fff; */
    
}

footer a:hover{
    color:blue;
}
